# Go
*.exe
*.test
/tmp
*.zip

# Node
node_modules/
dist/
.env
.env.prod

# CDK
infra/cdk.out/
cdk.context.json

# OS
.DS_Store
Thumbs.db

# Tooling
.tool-versions

# Logs
backend/cmd/local/__debug_*

ProjectSummary.md